.button[data-color='orange'] {
  --button-color: var(--color-orange-primary);
  --button-hover-color: var(--color-orange-lighter);
  --button-active-color: var(--color-orange-dark);
}

.button[data-color='orange-light'] {
  --button-color: var(--color-orange-light);
  --button-hover-color: var(--color-orange-lighter);
  --button-active-color: var(--color-orange-dark);
}

.button[data-color='blue'] {
  --button-color: var(--color-blue-primary);
  --button-hover-color: var(--color-blue-light);
  --button-active-color: #7878b3;
}

.button {
  position: relative;
  min-width: 200px;
  text-align: right;
  margin: var(--space-sm);
  background: var(--button-color);
  color: var(--color-neutral);
  border: none;
  padding: var(--space-lg) var(--space-sm) var(--space-sm) var(--space-lg);
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--text-md);
  cursor: pointer;
}

.button[data-is-round='true'] {
  border-radius: var(--space-lg);
  padding-right: var(--space-lg);
}

.button:hover {
  background: var(--button-hover-color);
}

.button:active {
  background: var(--button-active-color);
}

.button:focus {
  text-decoration: underline;
}
