.button[data-color='orange'] {
  --button-color: var(--color-orange-primary);
  --button-hover-color: var(--color-orange-lighter);
  --button-focus-color: var(--color-orange-dark);
}

.button[data-color='orange-light'] {
  --button-color: var(--color-orange-light);
  --button-hover-color: var(--color-orange-lighter);
  --button-focus-color: var(--color-orange-dark);
}

.button[data-color='blue'] {
  --button-color: var(--color-blue-primary);
  --button-hover-color: var(--color-blue-light);
  --button-focus-color: var(--color-blue-light);
}

.button {
  position: relative;
  margin: var(--space-sm);
  background: var(--button-color);
  color: var(--color-neutral);
  border: none;
  padding: var(--space-lg) var(--space-sm) var(--space-sm) var(--space-lg);
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--text-md);
  cursor: pointer;
}

.button:hover {
  background: var(--button-hover-color);
}

.button:active {
  background: var(--button-focus-color);
}

.button:focus:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--space-md);
  background: var(--button-focus-color);
  border-right: 4px solid var(--color-neutral);
}
