.container {
  position: relative;
  border: 2px solid var(--color-klingon-red-default);
  border-left-width: 8px;
  border-right-width: 8px;
  width: 400px;
  margin: 0 auto;
}

.input {
  background: var(--color-neutral);
  border: none;
  color: var(--color-klingon-red-light);
  padding: var(--space-sm);
  font-size: var(--text-lg);
  width: 100%;
  font-family: var(--font-klingon);
  text-transform: uppercase;
}

.input:hover {
  background: var(--color-neutral-light);
}
