.container {
  position: absolute;
  top: 120px;
  left: 0;
  width: var(--nav-width);
  border-bottom-width: var(--space-md);
  border-bottom-style: solid;
  border-bottom-color: var(--color-neutral);
}

.navButton {
  margin: 0;
  border-top-width: var(--space-md);
  border-top-style: solid;
  border-top-color: var(--color-neutral);
}
